<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.min.js")"></script>
</head>
<body>
    <ul id="menu">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Enlist", "Index", "Enlist")</li>
        <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
    </ul>
    <section id="main">
        @RenderBody()
        <p>&copy; 2016 The Empire</p>
    </section>
    @RenderSection("scripts", required: false)
</body>
</html>